
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//CSS from resources/views
table {
  border: solid 1px lightgrey;
}

td {
  border-right: solid 1px lightgrey;
  border-left: solid 1px lightgrey;
}
